* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

body {
    background-color: #F8F0FE;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    overflow: hidden;
    background-color: black;
    padding: 10px;
    text-shadow: 1px 1px;

}

nav button img {
    object-fit: cover;
    width: 75px;
    height: 75px;
}

nav button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 10px;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;

}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-button {
    font-size: 28px;
    border: none;
    outline: none;
    color: white;
    margin: 0;
}

.dropdown:hover .drop-button {
    background-color: #F8F0FE;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #326CCD
}

.dropdown:hover .dropdown-content {
    display: block;
}

article {
    position: relative;
    top: 0;
    left: 0;
}

.background-image {
    margin-bottom: 25px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.folder-sections {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.folder-sections img {
    position: relative;
    width: 75px;
    height: 75px;
    margin-bottom: 12px;
}

.folder-sections h2 {
    position: relative;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    font-size: 12px;
}

main section {
    display: inline-block;
    margin: 10px;
}

main section h2 {
    margin-bottom: 10px;
}

.file-description-left {
    float: left;
    display: block;
    width: 20%;
    padding: 12px 16px;
    text-align: left;

}

.file-description-right {
    float: right;
    display: block;
    width: 20%;
    padding: 12px 16px;
    text-align: right;
}

.files {
    display: flex;
    float: none;
    border: 0px;
    padding: 10px;
    background-color: gainsboro;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: auto;
    border-radius: 10px;

}

.files-section a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.files-section img {
    width: 240px;
    margin: 10px;
    border: 8px solid white;
}



.file-description-left h2,
p,
h3,
ul {
    margin-bottom: 20px;
}

.file-description-left ul li {
    display: flex;
    justify-content: flex-start;
    float: left;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;

}

.file-description-left button {
    background-color: black;
    color: white;
    border: 2px solid whitesmoke;
    padding: 10px;
}

.file-description-right h2,
p,
h3,
ul {
    margin-bottom: 20px;
}

.file-description-right ul li {
    display: flex;
    justify-content: flex-end;
    float: right;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
}

.file-description-right button {
    background-color: black;
    color: white;
    border: 2px solid whitesmoke;
    padding: 10px;
}

.files-section h3 {
    text-align: center;
    font-size: 12px;
}

#contact {
    position: relative;

}

#contact img {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.background-image-2 {
    margin-bottom: 25px;
    background-size: cover;
}

#contact form label {
    display: inline-block;
    width: 150px;
    color: #93D2FC;
}

#contact section h2,
form {
    position: absolute;
    top: 100px;
    left: 40px;
    margin: 0 auto;
    padding: 10px;
}

#contact form h2 {
    text-align: center;
}

#contact form input {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid whitesmoke;
    margin-bottom: 10px;
}

#contact form h2 {
    font-size: 28px;
    color: #93D2FC;
    margin-bottom: 25px;
}

#message {
    height: 100px;
}

form button {
    height: 40px;
    width: 120px;
    background-color: #e9f1fa;
    color: #93D2FC;
    float: right;
    border: 2px solid #93D2FC;
    border-radius: 10px;
}

@media screen and (max-width: 992px) {
    .folder-sections {
        top: 20px;
        left: 20px;
    }

    .folder-sections img {
        width: 50px;
        height: 50px;
    }

    .files {
        display: block;
    }
}

@media screen and (max-width: 768px) {

    .file-description-left,
    .file-description-right {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    #contact {
        display: inline-block;
    }
}