* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F0FE;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    overflow: hidden;
    background-color: black;
    padding: 20px;
}

nav button img {
    object-fit: cover;
    width: 75px;
    height: 75px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-button {
    font-size: 28px;
    border: none;
    outline: none;
    color: white;
    margin: 0;
}

.dropdown:hover .drop-button {
    background-color: #F8F0FE;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #326CCD
}

.dropdown:hover .dropdown-content {
    display: block;
}

article {
    position: relative;
    top: 0;
    left: 0;
}

.background-image {
    margin-bottom: 25px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.folder-sections {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100px;
    height: 100px;
}

.folder-sections img {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
}

.folder-sections h2 {
    position: relative;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

main section {
    display: inline-block;
    margin: 20px;
}

main section h2 {
    margin-bottom: 10px;
}

.file-description-left {
    float: left;
    display: block;
    width: 20%;
    padding: 12px 16px;

}

.files {
    display: flex;
    justify-content: space-around;
    float: center;
    border: 0px;
    padding: 12px;
    background-color: #E8E5E6;
    overflow: hidden;

}

.files img {
    width: 150px;
    margin: 20px;
    border: 8px solid white;
}

main section p {
    text-align: left;
    margin-bottom: 20px;
}

main section ul li {
    display: flex;
    justify-content: flex-start;
    float: none;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

.files-section {
    display: block;
}

.files-section h3 {
    text-align: center;
    font-size: 12px;
}